$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;
$danger: #c40018;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;

div#noContent {
  margin: 2vw 0vw;
  font-family: $secondary-text;
  font-weight: 300;
  font-size: 1.2vw;
}