$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;

.wrapper {
  background-color: $dark-color;
  margin: 0vw 5%;
    // height: auto;
    // position: relative;
  height: 89%;
  // overflow: hidden;
  flex: 1 0 auto;
}