$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;
$danger: #c40018;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $focus-text;
}

.mixedPost-footer.modal-footer {
  border-radius: 0;
  height: 2.9vw;
  background-color: $abundant-color;
  border: none;
  display: block;
  margin: 0 auto;
  text-align: center; 
  color: $danger;
  font-family: $secondary-text;

}
.mixedPost-footer.modal-footer:hover {
  border-radius: 0;
  // background-color: $secondary-color;
  border: 2.5px solid $danger;
  cursor: pointer;
  text-align: center;
}

div#root {
  background-color: $dark-color;
  box-sizing: border-box;
  height: auto;
  color: $abundant-color
}

.buttonContainer {
  position: sticky;
  bottom: 10vw;
  right: 5vw;
  button.albumButton {
    padding-top: 15px;
    padding-left: 0px;
  }
}

button.btn-danger {
  background-color: $danger;
  border-color: $danger;
}

button.btn-danger:hover {
  background-color: $dark-color;
  border-color: $danger;
  color: $danger;
}
button.close {
  color: $abundant-color;
  position: absolute;
  top: 3vw;
  right: 28vw;
  font-size: 2.5rem;
  opacity: 1;
}

button.close:hover {
  color: $focus-color;
}

button.close:active, button.close:focus {
  border: none;
  outline: none;
}

ul.nav.nav-tabs {
  border-bottom: 2px solid $focus-color;
  z-index: 10;
  a.nav-link {
    color: $muted-color;
  }
  a.active.nav-link {
    background-color: transparent;
    border-radius: 0;
    // border: none;
    border: 2px solid $focus-color;
    color: $abundant-color;
  }
}

label {
  font-family: $secondary-text;
  font-weight: 300;
}

div#accountSettings {
  width: 70%;
  margin: 0 auto;
}

div#welcomePage.container {
  overflow: hidden;
  p {
    font-family: $secondary-text;
  }
  .left {
    height: 50vw;
    width: 10vw;
    left: -10vw;
    position: absolute;
    padding: 10vw;
    background-color: $secondary-color;
    z-index: 0;
  }
  .leftTriangle {
    width: 40vw;
    height: 50vw;
    position: absolute;
    left: 10vw;
    border-top: 50vw solid $secondary-color;
    border-right: 50vw solid transparent;
    z-index: 0;
  }
  div#showcase {
    border: 5px solid $muted-color;
    height: 40vw;
    width: 80vw;
    position: absolute;
    right: 0;
    top: 15vw;
    z-index: 100;
    overflow: hidden;
    .movingArea {
      animation: mymove 30s infinite;
      position: relative;
      @keyframes mymove {
        from {top: -1000px;}
        to {top: 1000px;}
      }
      left: -350px;
      .prompt{
        // position: absolute;
        display: inline-block;
        
        height: 400px;
        width: 400px;
        background-color: $focus-color;
        margin: 1vw;
      }
      
    }
  }
}