
$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;
$danger: #c40018;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $focus-text;
}

button.close {
  margin: 0;
  padding: 1vw;
}

button.close, button.close:active, button.close:focus, button.close::after {
  border: none;
  outline: none;
}

div.modal-content {
  border-radius: 0;
}
div.caroModal.modal-header.justify-content-md-end {
  border-bottom: none;
  padding: 1vw 1vw 0vw 0vw;
  border-radius: 0;
}

.mixedPost-footer.modal-footer {
  border-radius: 0;
  height: 2.9vw;
  background-color: $abundant-color;
  border: none;
  display: block;
  margin: 0 auto;
  text-align: center; 
  color: $danger;
  font-family: $secondary-text;

}
.mixedPost-footer.modal-footer:hover {
  border-radius: 0;
  // background-color: $secondary-color;
  border: 2.5px solid $danger;
  cursor: pointer;
  text-align: center;
}

div#root {
  background-color: $dark-color;
  box-sizing: border-box;
  height: 100%;
  color: $abundant-color;
  position: relative;
  
}


.buttonContainer {
  z-index: 1000;
  position: fixed;
  top: 75%;
  -webkit-transform: translateX(85vw);
  -ms-transform: translateX(85vw);
  transform: translateX(85vw);
  .modalButton.albumButton {
    position: sticky;
    right: 4vw;
    bottom: 0vw;
  }
  .modalButton.promptButton {
    position: sticky;
    right: 4vw;
    margin-top: 2vw;
  }
  .modalButton.photoButton {
    position: sticky;
    bottom: 2vw;
    display: block;
  }
  button.albumButton {
    padding-top: 15px;
    padding-left: 0px;
  }
}

button.btn-danger {
  background-color: $danger;
  border-color: $danger;
}

button.btn-danger:hover {
  background-color: transparent;
  border-color: $danger;
  color: $danger;
}

ul.nav.nav-tabs {
  border-bottom: 2px solid $focus-color;
  z-index: 10;
  a.nav-link {
    color: $muted-color;
  }
  a.active.nav-link {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid $focus-color;
    color: $abundant-color;
  }
}

label {
  font-family: $secondary-text;
  font-weight: 300;
}

div#accountSettings {
  width: 70%;
  margin: 0 auto;
}

div#welcomePage.container {
  overflow-x: hidden;
  z-index: 200;
  div#mainText {
    position: absolute;
    top: 10vw;
    left: 5vw;
    h1 {
      font-size: 3vw;
      letter-spacing: 0.3vw;
      margin-bottom: 0.4vw;
    }
  }
  div#aboutText {
    position: absolute;
    top: 18vw;
    left: 5vw;
    font-family: $secondary-text;
    font-weight: 100;
    font-size: 1.5vw;
  }
  div#signInSquare {
    position: absolute;
    top: 35vw;
    left: 0vw;
    height: 15vw;
    width: 20vw;
    background-color: $focus-color;
    z-index: 1000;
    p#signInText {
      width: 30vw;
      padding: 5vw 0vw 0vw 5vw;
      font-family: $secondary-text;
      font-size: 1.5vw;
      z-index: 1000;
      .authLink {
        z-index: 1000;
        color: $dark-color;
      }
      .authLink:hover {
        z-index: 1000;
        text-decoration: none;
        font-weight: 300;
        cursor: pointer;
      }
    }
  }
  div#signInTriangle {
    position: absolute;
    left: 20vw;
    top: 35vw;
    width: 15vw;
    z-index: -0;
    height: 15vw;
    border-top: 15vw solid $focus-color;
    border-right: 15vw solid transparent;
  }
  .left {
    height: 50vw;
    width: 26vw;
    left: -10vw;
    position: absolute;
    padding: 10vw;
    background-color: $secondary-color;
    z-index: 0;
  }
  .leftTriangle {
    width: 30vw;
    height: 50vw;
    position: absolute;
    left: 16vw;
    border-top: 50vw solid $secondary-color;
    border-right: 50vw solid transparent;
    z-index: 0;
  }
  div#showcase {
    // border: 5px solid $muted-color;
    height: 40vw;
    width: 80vw;
    position: absolute;
    right: 0vw;
    top: 12vw;
    z-index: -100;
    overflow: hidden;
    .movingArea {
      animation: verticalScroll 60s linear infinite;
      @keyframes verticalScroll {
        0% {
          transform: translate3d(0, -220vw, 0);
        }
      
        100% {
          transform: translate3d(0, 0vw, 0);
        }
      }
      .row {
        left: -50px;
        margin: 0px;
        width: 160vw;
        border-radius: 0;
        flex-direction: row;
        position: relative;
        .box {
          display: inline-block;
          height: 20vw;
          width: 20vw;
          margin: 1vw;
          .aboutText {
            position: fixed;
            font-family: $focus-text;
            left: 5vw;
          }
          
        }
        .prompt {
          margin: 1vw;
          background-color: $abundant-color;
          padding: 1vw;
          height: 20vw;
          width: 20vw;
          color: $focus-color;
          font-size: 1.5vw;
          font-family: $secondary-text;
        }
        img {
          border-radius: 0;
          height: 20vw;
          width: 20vw;
          object-fit: contain;
          background-color: $dark-color;
        }
  
       
      }
    }
  }
}

div#pageNotFound {
  margin-top: 5vw;
  height: 20vw;
  width: 50vw;
  background-color: $focus-color;
  padding: 2vw;
  h1 {
    font-size: 6vw;
  }
  p {
    font-family: $secondary-text;
    font-weight: 300;
    font-size: 2vw;
    a {
      color: $dark-color;
      span {
        padding-bottom: 1vw;
      }
    }
    a:hover {
      text-decoration: none;
      font-style: italic;
    }
  }
}