$focus-color: #1864bd;
$secondary-color: #f0977f;
$muted-color: #e9aba1;
$dark-color: #4B4847;
$abundant-color: white;

#root {
  background-color: $abundant-color;
}

body, html {
  height:  100%;
  margin:  0px auto;
  padding: 0px auto;
}

.buttonContainer {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  // Button.albumButton, Button.photoButton {
  //   bottom: 10vw;
  // }
  // Button.promptButton {
  //   bottom: 0vw;
  // }
  Button.albumButton {
    padding-top: 15px;
    padding-left: 0px;
  }
}

