<nav class="navbar navbar-light">
    <h1>Album X</h1>
    <p>This will soon be turned into a react component, if you are patient</p>
</nav>

<div class="container-fluid">
    <h6>Contents of Album X</h6>
    <ul>

    </ul>
</div>