<h1>Howdy</h1>


<form action="/albums/:id/pictures" method="POST">
    <div class="form-group">
        <label for="image">Picture URL</label>
        <input 
            type="text" 
            name="image" 
            class="form-control" 
            id="image"/>
    </div>
    <button class="btn" id="addPicture-btn">Add a new picture</button>
</form>