<nav class="navbar navbar-light">
    <h1>Welcome <b><%= user.firstName %> <%= user.lastName %></b></h1>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <p>This will soon be turned into a react component, if you are patient</p>
</nav>

<div class="container">
    <h3>Albums</h3>

    <form action="/dashboard/album" method="POST">
        <%- include('./partials/messages.ejs') %>
        <div class="form-group">
            <label for="albumName">Create new album</label>
            <input 
                type="text" 
                name="title" 
                class="form-control" 
                id="albumName"/>
        </div>
        <button class="btn" id="newAlbum-btn">Create a new album</button>
    </form>
</div> 
<br>
<div class="container">
    <h4>Your albums</h4><br>
    
    <% if (user.album.length > 0) { %>
        <% user.album.forEach(function(album) { %>
            <%= album.title %><br>
        <% }) %>
    <% } else { %>
        <p>No albums created</p>
    <% } %>
</div>