

<div class="container">
    <h3>Albums</h3>

    <form action="/dashboard/album" method="POST">
        <%- include('./partials/messages.ejs') %>
        <div class="form-group">
            <label for="albumName">Create new album</label>
            <input 
                type="text" 
                name="title" 
                class="form-control" 
                id="albumName"/>
        </div>
        <button class="btn" id="newAlbum-btn">Create a new album</button>
    </form>
</div> 
<br>
<div class="container">
    <h4>Your albums</h4><br>
    
    <% if (user.album.length > 0) { %>
        <% user.album.forEach(function(album) { %>
            <a href="/albums/<%= album._id %>" id="<%= album._id %>"> <%= album.title %></a> <br>
        <% }) %>
    <% } else { %>
        <p>No albums created</p>
    <% } %>
</div>