<nav class="navbar navbar-light">
    <h1>Welcome <b>username!</b></h1>
    <p>Which will soon be turned into a react component, if you are patient</p>
</nav>

<div class="container">
    <h6>Albums</h6>
</div>