<nav class="navbar navbar-light">
    <h1>This is a navigation bar</h1>
    <p>Which will soon be turned into a react component, if you are patient</p>
</nav>

<h1>Welcome</h1>

<div class="container">
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
</div>