$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;


div#albumSettings.tab-pane.active {
  h4 {
    font-family: $secondary-text;
    font-weight: 300;
  }
  margin: 0 auto;
  padding: 0;
  div.card.albumSettingsCard {
    overflow: hidden;
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 1vw;
    background-color: $abundant-color;
    padding: 1vw;
    border-radius: 0;
    div.card-title {
      border-radius: 0;
      font-family: $secondary-text;
      font-size: 1.2vw;
      text-align: center;
      color: $focus-color
    }
    a.nav-link:hover {
      border-radius: 0;
      cursor: pointer;
    }
    div.row {
      height: 100%;
      color: $dark-color;
      font-size: 0.9vw;
      div.col-4 {
        padding: 0px;
        ul.nav.flex-column {
          display: table;
          height: 100%;
          width: 100%;
          list-style: none;
          li {
          height: 33%;
          text-align: center;
          }
          li:hover {
            color: $secondary-color;
            font-style: italic;
          }
          a {
          display: block;
          }
        }
      }
      div.col-8 {
        display: block;
        div.tab-pane.active {
          padding: 0;
        }

      }
    }
  }
}

hr {
  background-color: $muted-color;
}

.center {
  display: block;
  margin: 0 auto;
}


div.tab-pane.active {
  padding: 1vw;
}







