$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;

div.card.albumSettings {
  // color: red;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 1vw;
  color: $secondary-color;
  padding: 1vw;
  div.card-title {
    font-family: $focus-text;
    font-size: 1.2rem;
    text-align: center;
  }
}