$focus-color: #1864bd;
$secondary-color: #f0977f;
$muted-color: #e9aba1;
$dark-color: #4B4847;
$abundant-color: white;

$focus-text: 'Fjalla One', sans-serif;
$secondary-text: 'Roboto', sans-serif;


div.card.albumSettings {
  // color: red;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 1vw;
}