.about {
  overflow-x: hidden;
  z-index: 200;
  &-background{
    &--square {
      height: 50vw;
      width: 26vw;
      left: -10vw;
      position: absolute;
      padding: 10vw;
      background-color: $secondary-color;
      z-index: 0;
    }
    &--triangle {
      width: 30vw;
      height: 50vw;
      position: absolute;
      left: 16vw;
      border-top: 50vw solid $secondary-color;
      border-right: 50vw solid transparent;
      z-index: 0;
    }
  }
  &-info {
    position: absolute;
    top: 10vw;
    left: 5vw;
    &--primary {
      font-size: 3rem;
      letter-spacing: 0.3vw;
      margin-bottom: 0.4vw;
    }
    &--secondary {
      font-family: $secondary-text;
      font-weight: 100;
      font-size: 3rem;
    }
  }
}