.about {
  overflow-x: hidden;
  position: relative;
  // margin-top: 10vh;
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;
  &-background {
    height: 60vh;
    width: 60vw;
    left: 0vw;
    top: 5vh;
    position: absolute;
    background-color: $color-secondary;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    @include respond(tab-land) {
      height: 50vh;
      width: 60vw;
      // background-color: $color-focus;
      clip-path: unset;
    }
    @include respond(tab-port) {
      width: 100vw;
    }
    @include respond(phone) {
      height: 40vh;
    }
    // @include respond(xsm) {
    //   background-color: red;
    //   // height: 60vh;
    // }

  }
  &-info {
    position: absolute;
    margin-top: 7vh;
    margin-left: 2vw;
    z-index: 100;
    @include respond(tab-land) {
      width: 60vw;
    }
    @include respond(tab-port) {
      width: 100vw;
    }
    &--primary {
      font-size: 5rem;
      letter-spacing: 0.4rem;
      margin-bottom: 2rem;
      @media (max-width: 87.5em) {
        font-size: 4.5rem;
      } 
      @include respond(tab-port) {
        // font-size: 4rem;
        margin-bottom: 1rem;
      }
      @include respond(phone) {
        font-size: 3rem; 
      }
      @include respond(xsm) {
        font-size: 2rem; 
      }
    }
    &--secondary {
      font-family: $secondary-text;
      font-weight: 100;
      font-size: 2.8rem;
      margin: 6rem 0vw;
      @media (max-width: 87.5em) {
        font-size: 2.4rem;
      } 
      @include respond(tab-land) {
        font-size: 2rem;
        margin: 1rem 0rem;
      }
      @include respond(tab-port) {
        font-size: 1.6rem;
        margin: 0rem 0rem;
      }
    }
  }
}