.about {
  overflow-x: hidden;
  z-index: 200;
  &-background{
      height: 78vh;
      width: 60vw;
      left: 0vw;
      position: absolute;
      padding: 10rem;
      background-color: $color-secondary;
      z-index: 0;
      clip-path: polygon(0 0, 100% 0%, 30% 100%, 0 100%);
  }
  &-info {
    position: absolute;
    top: 15vh;
    left: 4vw;
    &--primary {
      font-size: 5.6rem;
      letter-spacing: 0.4rem;
      margin-bottom: 0.4rem;
    }
    &--secondary {
      font-family: $secondary-text;
      font-weight: 100;
      font-size: 2.8rem;
    }
  }
}