.albumSettings {
  height: 50px;
  background-color: $color-dark;
  @include noFraming;
  text-align: right;
  &:hover {
    background-color: $color-dark;
    cursor: pointer;
    color: $color-highlight;
}
}