#btn {
  &-authForms {
    &--close {
      position: absolute;
      bottom: 1vw;
      left: 4vw;
      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }
}

Button.btn {
  font-size: 1.5rem;
  &-auth {
    margin-top: 1vh;
    width: 100%;
    background-color: $abundant-color;
    border-color: $abundant-color;
    color: $dark-color;
    &:hover, &:active, &::after, &:focus {
      background-color: transparent;
      color: $abundant-color;
      border-color: $abundant-color;
    }
  }
  &-submit {
    background-color: $focus-color;
    border-color: $focus-color;
    float: right;
    &:hover  {
      background-color: transparent;
      color: $focus-color;
      border-color: $focus-color;
    }
  }
  &-delete{
    background-color: $danger;
    border-color: $danger;
    &:hover {
      background-color: transparent;
      border-color: $danger;
      color: $danger;
    }
    &--memory {
      color: $highlight-color;
      cursor: pointer;
      font-style: $secondary-text;
      font-size: 1vw;
      padding-bottom: 10%;
      text-align: center;
    }
  }
  &-close {
    @include noFraming;
    background-color: transparent;
    padding-right: .8rem;
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
  &-modal {
    width: 9rem; 
    height: 9rem; 
    border-radius: 50rem; 
    font-size: 2rem;
    text-align: center; 
    background-color: $color-white;
    @include noFraming;
    &:hover {
      background-color: $color-highlight;
      outline: none;
    }
    &:focus, &:active, &::after {
      background-color: $color-white;
      @include noFraming;
    }
    &.btn-prompt {
      position: sticky;
      margin-top: 2vw;
    }
    &.btn-photo, &.btn-album {
      position: sticky;
      bottom: 2vw;
      display: block;
    }
  }
}

.btnContainer {
  z-index: 1000;
  position: fixed;
  top: 75%;
  -webkit-transform: translateX(85vw);
  -ms-transform: translateX(85vw);
  transform: translateX(85vw);
}