.card.carouselPicture {
  border-radius: 0;
  width: 100%;
  height: 45vw;
  font-size: inherit;
  background-color: white;
  color: black;
  border: none;
  // margin-right: 3vw;
  margin-left: 0vw;
  .card-title {
    margin-left: 1vw;
    padding: 1vw;
    height: 3vw;
    time {
      font-family: $focus-text;
      font-size: 1.4vw;
      color: $focus-color;
      letter-spacing: 0.9vw;
    }
  }
  .card-subtitle {
    font-family: $secondary-text;
    font-weight: 300;
    padding-left: 10%;
    height: 1vw;
    margin-bottom: .3vw;
  }
  .card-body {
    height: 8vw;
    margin-bottom: 1vw;
    overflow-y: auto;
    white-space: normal;
    padding: 0px 10%;
    p.card-text {
      font-size: 0.9vw;
      font-family: $secondary-text;
      font-weight: 300;
    }
  }
  div.memoryArea {
    background-color: #252525;
    
    .card-img {
      justify-content: center;
      align-items: center;
      object-fit: contain;
      height: 33vw;
      background-color: transparent;

    }
  }
  .vertical-center {
    display: inline-block;
    vertical-align: middle;
    height: 33vw;
    text-align: center; 
  }
  span#caption {
    margin-left: 1vw;
    color: $secondary-color;
    font-size: 0.95vw;
    font-family: $secondary-text;
  }
  p.recordedDate{
    font-size: 0.9vw;
    font-family: $secondary-text;
    font-weight: 300;
    margin-right: 3.5vw;
    margin-bottom: 0vw;
    text-align: right;
  }
}


