.card.carouselPrompt {
  border-radius: 0;
  padding: 0px;
  height: 45vw;
  font-size: inherit;
  background-color: white;
  color: black;
  border: none;
  .card-title {
    margin-left: 1vw;
    padding: 1vw;
    height: 3vw;
    time {
      font-family: $focus-text;
      font-size: 1.4vw;
      color: $focus-color;
      letter-spacing: 0.9vw;
    }
  }
  .card-subtitle {
    font-family: $secondary-text;
    font-weight: 300;
    padding-left: 10%;
    height: 1vw;
    margin-bottom: .3vw;
  }
  div.card-body {
    height: 5vw;
    overflow-y: auto;
    white-space: normal;
    padding: 1vw 0%;
    text-align: right;
    time {
      padding: 0px;
    }
    p.card-text{
      font-size: 0.9vw;
      font-family: $secondary-text;
      font-weight: 300;
    }
  }
  div.memoryArea {
    height: 37vw;
    width: 35vw;
    background-color: $focus-color;
    color: red;
    font-size: 1.7vw;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    position: relative;
    span.memoryText {
      position: absolute;
      float: left;
      padding: 1vw;
    }
    span.prompt {
      color: $secondary-color;
      font-family: $focus-text;
      font-weight: 300;
    }
    span.response {
      color: white;
      font-weight: 300;
    }
  }
  .center {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    height: 35vw;
  }

}