.authForms {
  background-color: transparent;
  z-index: 100;
  right: -1vw;
  top: 30vw;
  position: absolute;
  &-background {
    will-change: transform, opacity;
    overflow: hidden;
    min-width: 40vw;
    &--login {
      padding-right: 2vw;
      margin-right: 0vw;
      height: 19vw;
      width: 38vw;
      border-bottom: 19vw solid $secondary-color;
      border-left: 19vw solid transparent;
    }
    &--register {
      padding-right: 4vw;
      margin-right: 0vw;
      height: 24vw;
      width: 48vw;
      border-bottom: 24vw solid $secondary-color;
      border-left: 24vw solid transparent;
    }
  }
  &-form {
    label {
      font-size: 2rem;
    }
    input {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 3.2rem;
    }
    padding: 1.5vw 0vw 0vw 0vw;
    .alert {
      display: inline-flex;
      width: 100%;
      margin-top: 1vh;
    }
  } 
}