$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;
$danger: #c40018;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;
Button.modalButton {
  width: 90px; 
  height: 90px; 
  padding: 0px 0px 5px 0px; 
  border-radius:50px; 
  text-align: center; 
  font-size: 3rem;
  background-color: $highlight-color;
  float: right;
  border: none;
  outline: none;
  
}

Button.modalButton:hover {
  background-color: $abundant-color;
  outline: none;
}

Button.modalButton:focus, Button.modalButton:active, Button.modalButton::after {
  background-color: $highlight-color;
  border: none;
  outline: none;
}