  .authForms {
    background-color: red;
    z-index: 100;
    width: 100vw;
    position: relative;
    margin: auto 0 auto;
    justify-content: right;
    &-background {
      // will-change: transform, opacity;
      &--login {
        position: fixed;
        padding: 0vh 2vw 5vh 15vw;
        right: 0vw;
        bottom: 10vw;
        width: 45vw;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
        background-color: $color-focus;
        @include respond(tab-land) {
          clip-path: unset;
          width: 50vw;
          padding: 0vh 8vw 5vh 10vw;
          bottom: 20vh;
        }
        @include respond(tab-port) {
          width: 100vw;
          bottom: 0vh;
          padding: 0vh 10vw 5vh 10vw;
        }
        @include respond(phone) {
          padding: 0vh 10vw 5vh 13vw;
        }
      }
      &--register {
        padding: 0vh 2vw 2vh 15vw;
        width: 50vw;
        right: 0vw;
        bottom: 10vw;
        position: fixed;
        background-color: $color-focus;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
        @include respond(tab-land) {
          clip-path: unset;
          padding: 0vh 5vw 5vh 10vw;
          bottom: 20vh;
        }
        @include respond(tab-port) {
          width: 100vw;
          bottom: 0vh;
          padding: 0vh 10vw 5vh 10vw;
        }
        @include respond(phone) {
          // top: 20vh;
        }
      }
    }
    &-form {
      label {
        font-size: 2rem;
      }
      input {
        font-size: 1.8rem;
      }
      h3 {
        font-size: 3.2rem;
      }
      padding: 1.5vw 0vw 0vw 0vw;
      .alert {
        display: inline-flex;
        width: 100%;
        margin-top: 1vh;
      }
    } 
  }

label {
  @include thinFont;
}

.forms, label {
  font-size: 1.6rem;
}
.form-control {
  height: 4rem;
  font-size: 1.6rem;
}

.modal-header {
  @include noFraming;
}

.modal-title {
  font-size: 2.2rem;
}

.form-check label {
  margin-left: 1rem;
}

form {
  h5 {
    font-size: 2rem;
  }
}