.authForms {
  position: absolute;
  background-color: transparent;
  z-index: 100;
  right: 0vw;
  top: 60vh;
  &-background {
    will-change: transform, opacity;
    &--login {
      padding: 0vh 2vw 2vh 26vw;
      height: fit-content;
      min-width: 45vw;
      width: fit-content;
      clip-path: polygon(57% 0%, 100% 0%, 100% 100%, 10% 100%);
      background-color: $color-secondary;
      position: relative;
    }
    &--register {
      padding-right: 4vw;
      margin-right: 0vw;
      height: 24vw;
      width: 48vw;
      border-bottom: 24vw solid $color-secondary;
      border-left: 24vw solid transparent;
    }
  }
  &-form {
    label {
      font-size: 2rem;
    }
    input {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 3.2rem;
    }
    padding: 1.5vw 0vw 0vw 0vw;
    .alert {
      display: inline-flex;
      width: 100%;
      margin-top: 1vh;
    }
  } 
}

label {
  @include thinFont;
}

.forms, label {
  font-size: 1.6rem;
}
.form-control {
  height: 4rem;
  font-size: 1.6rem;
}

.modal-header {
  @include noFraming;
}

.modal-title {
  font-size: 2.2rem;
}

// .form-check input{
//   margin-right: 2rem;
//   // width: 20rem;
//   display: block;
//   font-size: 2rem;
// }

.form-check label {
  margin-left: 1rem;
}

form {
  h5 {
    font-size: 2rem;
  }
}