  .signIn {
    &-text {
      position: absolute;
      bottom: 30vh;
      left: 2.5vw;
      font-family: $secondary-text;
      font-size: 2.7rem;
      z-index: 1000;
      @include respond(tab-land) {
        font-size: 2.2rem;
        bottom: 38vh;
      }
      @include respond(tab-port) {
        bottom: 51vh;
      }
      @include respond(phone) {
        bottom: 53vh;
      }
      @include respond(tab-port) {
        bottom: 60vh;
        font-size: 1.6rem;

      }
      &--authLink {
        z-index: 1000;
        color: $color-dark;
        font-weight: unset;
        &:hover {
          z-index: 1000;
          text-decoration: none;
          color: $color-white;
          cursor: pointer;  
        }
      }
    }
  }