.about {
  .signIn {
    &-text {
      position: absolute;
      top: 45vh;
      left: 0vw;
      font-family: $secondary-text;
      font-size: 2.7rem;
      z-index: 1000;
      @include respond(tab-land) {
        font-size: 2.2rem;
        top: 33vh;
      }
      @include respond(tab-port) {
        top: 25vh;
      }
      @include respond(phone) {
        // top: 20vh;
      }
      &--authLink {
        z-index: 1000;
        color: $color-dark;
        font-weight: unset;
        &:hover {
          z-index: 1000;
          text-decoration: none;
          color: $color-white;
          cursor: pointer;  
        }
      }
    }
  }
}