$focus-color: #3282b8;
$color-focus: #3282b8;
$secondary-color: #0f4c75;
$color-secondary: #0f4c75;
$highlight-color: #bbe1fa;
$color-highlight: #bbe1fa;
$muted-color: #dfdfdf;
$color-muted: #dfdfdf;
$dark-color: #252525;
$color-dark: #252525;
$abundant-color: white;
$color-white: white;
$danger: #c40018;
$color-danger: #c40018;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;