@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/all";

@import "./pages/welcome";
@import "./pages/dashboard";
@import "./pages/album";
@import "./pages/settings";
@import "./pages/pageNotFound";



// button.close, button.close:active, button.close:focus, button.close::after {

// }

div.modal-content {
  border-radius: 0;
}
div.caroModal.modal-header.justify-content-md-end {
  border-bottom: none;
  padding: 1vw 1vw 0vw 0vw;
  border-radius: 0;
}

.mixedPost-footer.modal-footer {
  border-radius: 0;
  height: 2.9vw;
  background-color: $abundant-color;
  border: none;
  display: block;
  margin: 0 auto;
  text-align: center; 
  color: $danger;
  font-family: $secondary-text;

}
.mixedPost-footer.modal-footer:hover {
  border-radius: 0;
  // background-color: $secondary-color;
  border: 2.5px solid $danger;
  cursor: pointer;
  text-align: center;
}

div#root {
  background-color: $dark-color;
  box-sizing: border-box;
  height: 100%;
  color: $abundant-color;
  position: relative;
  
}


.buttonContainer {
  z-index: 1000;
  position: fixed;
  top: 75%;
  -webkit-transform: translateX(85vw);
  -ms-transform: translateX(85vw);
  transform: translateX(85vw);
  .modalButton.albumButton {
    position: sticky;
    right: 4vw;
    bottom: 0vw;
  }
  .modalButton.promptButton {
    position: sticky;
    right: 4vw;
    margin-top: 2vw;
  }
  .modalButton.photoButton {
    position: sticky;
    bottom: 2vw;
    display: block;
  }
  button.albumButton {
    padding-top: 15px;
    padding-left: 0px;
  }
}



div#accountSettings {
  width: 70%;
  margin: 0 auto;
}
