$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;

div.mixedPostPrompt.card {
  border-radius: 0;
  display: inline-block;
  flex-direction: row;
  margin: 1vw;
  padding: 0px;
  position: relative;
  cursor: pointer;
  height: 350px;
  width: 350px;
  background-color: $abundant-color;
  color: $focus-color;
  font-size: 1.4vw;
  font-family: $secondary-text;
  p.card-text {
    overflow: hidden;
    display: block;
  }
  .overlay {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    height: 352px;
    width: 352px;
    opacity: 0;
    transition: .5s ease;
    background-color: $muted-color;
  }

  .text {
    color: $dark-color;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.mixedPostPrompt.card:hover .overlay {
  opacity: 1;
}

.overlay {
  cursor: pointer;
}