$focus-color: #1864bd;
$secondary-color: #f0977f;
$muted-color: #e9aba1;
$dark-color: #4B4847;
$abundant-color: white;

$focus-text: 'Fjalla One', sans-serif;
// $secondary-t: 'Montserrat', sans-serif;
$secondary-text: 'Roboto', sans-serif;

div.mixedPostPrompt.card {
  display: inline-block;
  flex-direction: row;
  margin: 1vw;
  padding: 0px;
  position: relative;
  cursor: pointer;
  height: 400px;
  width: 400px;
  background-color: $secondary-color;
  color: white;
  font-size: 2rem;
  font-family: $secondary-text;
  font-weight: 300;
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: 400px;
    opacity: 0;
    transition: .5s ease;
    background-color: $dark-color;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.mixedPostPrompt.card:hover .overlay {
  opacity: 1;
}

.overlay {
  cursor: pointer;
}