$color-focus: #1864BD;
$color-muted: #F0977F;
$other-pink: #E9ABA1;
$dark-color: #4B4847;

.card {
  height: 400px;
  width: 400px;
}

div.card {
  display: inline-block;
  flex-direction: row;
  // justify-content: space-between;
  margin: 1vw;
  padding: 0px;
  background-color: $other-pink;
  color: white;
  font-size: 2vw;
}