$focus-color: #1864bd;
$secondary-color: #f0977f;
$muted-color: #e9aba1;
$dark-color: #4B4847;
$abundant-color: white;

$focus-text: 'Fjalla One', sans-serif;
$secondary-text: 'Roboto', sans-serif;


/* .fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 3000ms ease-in;
} */

div.albumList {
    box-sizing: border-box;
    .card-body{
        border: 5px solid black;
        width: 400px;
        height: 400px;
        background-color: $abundant-color;
        p.card-text {
            a {
                color: $focus-color;
                font-size: 3rem;
            }
        }
    }
    position: relative;
    margin: 1vw;
    display: inline-block;

    color: white;
    // padding: 1vw;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400px;
        width: 400px;
        opacity: 0;
        transition: .5s ease;
        background-color: $dark-color;
        cursor: pointer;
      }
      .text {
        color: white;
        font-size: 20px;
        font-family: $secondary-text;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .albumListBelow.card-footer {
          width: 400px;
          height: 50px;
          background-color: $abundant-color;
          border: none;
        //   margin: 0vw 1vw;
        //   top: 410px;
        //   position: absolute;
        //   left: -100px;
        //   display: inline-block;
      }
    //   .albumListBelow.card-footer:hover {
    //       background-color: $dark-color;
    //       cursor: pointer;
    //   }
      .card-body:hover {
          text-decoration: none;
          color: black;
          .overlay {
              opacity: 1;
            }
      }
}

