$focus-color: #709fb0;
$secondary-color: #438a5e;
$highlight-color: #ff847c;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;

.deleteButton {
  color: $highlight-color;
  cursor: pointer;
  font-style: $secondary-text;
  font-size: 1.1rem;
  padding-bottom: 10%;
  text-align: center;
  // padding-right: 38%;
}

