$focus-color: #1864bd;
$secondary-color: #f0977f;
$muted-color: #e9aba1;
$dark-color: #4B4847;

.deleteButton {
  // color: $secondary-color;
  cursor: pointer;
  display: inline;
  padding-left: 1vw;
  // padding-top: 20vw;
  font-size: 1rem;
  
}

.deleteButton:hover {
  color: $dark-color;
}

