$focus-color: #3282b8;
$secondary-color: #0f4c75;
$highlight-color: #bbe1fa;
$muted-color: #dfdfdf;
$dark-color: #252525;
$abundant-color: white;

$focus-text: 'Vidaloka', serif;
$secondary-text: 'Roboto', sans-serif;

.card.carouselPrompt {
  border-radius: 0;
  padding: 0px;
  height: 45vw;
  font-size: inherit;
  background-color: white;
  color: black;
  border: none;
  .card-title {
    margin-left: 1vw;
    padding: 1vw;
    height: 3vw;
    time {
      font-family: $focus-text;
      font-size: 1.7rem;
      color: $focus-color;
      letter-spacing: 1.2rem;
    }
  }
  .card-subtitle {
    font-family: $secondary-text;
    font-weight: 300;
    padding-left: 10%;
    height: 1vw;
    margin-bottom: .3vw;
  }
  div.card-body {
    height: 4vw;
    overflow-y: auto;
    white-space: normal;
    padding: 1vw 0%;
    // text-align: left;
    // justify-content: flex-end;
    time {
      padding: 0px;
    }
    p.card-text{
      font-size: 1.2rem;
      font-family: $secondary-text;
      font-weight: 300;
    }
  }
  div.memoryArea {
    height: 38vw;
    width: 35vw;
    background-color: $focus-color;
    color: red;
    font-size: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    position: relative;
    span.memoryText {
      position: absolute;
      float: left;
      padding: 1vw;
    }
    span.prompt {
      color: $secondary-color;
      font-family: $focus-text;
      font-weight: 300;
    }
    span.response {
      color: white;
      font-weight: 300;
    }
  }
  .center {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    height: 35vw;
    // text-align: center; 
  }

}